* {
  margin: 0;
  padding: 0; }

body {
  background-color: #EFEEEA; }

/*HEADER*/
header {
  background-color: #EFEEEA;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  box-shadow: 0 0 0.7vh 0;
  box-shadow: #2F2A26/20%;
  z-index: 10; }
  header .navbar {
    width: 100%; }
    header .navbar img {
      display: flex;
      padding-left: 7vw; }
    header .navbar .collapse {
      flex-grow: 0; }
    header .navbar ul {
      list-style-type: none;
      font-family: 'Poppins', sans-serif;
      height: 8vh;
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      padding-right: 7vw; }
      header .navbar ul li {
        display: flex;
        text-decoration: none; }
        header .navbar ul li a {
          color: #C65425;
          text-decoration: none;
          background-color: transparent;
          border: 0.1vh solid transparent;
          transition: 1s; }
          header .navbar ul li a:hover {
            border: #DBC9B8;
            color: #C65425; }

/*MAIN*/
main {
  background-color: #EFEEEA; }

/*INDEX*/
#gridIndex {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #EFEEEA;
  row-gap: 0vh;
  justify-content: space-around; }
  #gridIndex .bannerindex {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/capaindex.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridIndex .bienvenidaHuasi {
    grid-area: bienvenida;
    display: flex;
    flex-direction: column;
    align-items: center; }
  #gridIndex .flecha {
    width: 5vh;
    margin-top: 3vh; }
  #gridIndex .desc {
    grid-area: desc;
    display: flex;
    flex-direction: column;
    text-justify: center;
    text-align: center;
    align-self: center;
    margin: 5vh; }
  #gridIndex .galeriaHabs {
    grid-area: hab;
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 3rem;
    transition: 1s; }
  #gridIndex .divLineal1 {
    grid-area: l1;
    width: 90%;
    height: 0.1vh;
    border-top: 0.3vh;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    border-color: #DBC9B8;
    border-style: solid; }
  #gridIndex .fotoacc, #gridIndex .fotopet {
    grid-area: fotoacc;
    display: flex;
    align-self: center;
    justify-self: center;
    display: inline-block;
    filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
  #gridIndex .accesibilidad, #gridIndex .petFriendly {
    grid-area: accesible;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 2vh; }
  #gridIndex .divLineal2 {
    grid-area: l2; }
  #gridIndex .fotopet {
    grid-area: fotopet; }
  #gridIndex .petFriendly {
    grid-area: pet; }
  #gridIndex .botonServ {
    grid-area: botonserv;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center; }
  #gridIndex .divLineal3 {
    grid-area: l3;
    width: 90%;
    height: 0.1vh;
    border-top: 0.3vh;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: auto;
    display: flex;
    align-self: center;
    justify-self: center;
    border-color: #DBC9B8;
    border-style: solid; }
  #gridIndex .lista {
    grid-area: lista;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: transparent; }
    #gridIndex .lista ul {
      list-style-type: circle;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-items: center; }
  #gridIndex .mapaIndex {
    grid-area: mapa;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%;
    background-color: transparent; }
  #gridIndex .h3Index {
    margin: 0 0 1vh 0;
    display: flex;
    justify-self: center;
    align-self: center; }

/*NOSOTROS*/
.bannerNosotros {
  display: flex;
  justify-content: center;
  background-image: url(../IMG/capanosotros.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

.textoNosotros {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.galeriaNosotros {
  display: flex;
  align-self: center;
  justify-self: center;
  margin-bottom: 3rem;
  transition: 1s; }
  .galeriaNosotros:hover {
    filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }

/*HABITACIONES*/
#gridHabitaciones {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #EFEEEA;
  row-gap: 0vh;
  justify-content: space-around; }
  #gridHabitaciones .bannerHabitaciones {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/capahabitaciones.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridHabitaciones .descripcion {
    grid-area: descripcion;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  #gridHabitaciones .habitacion1, #gridHabitaciones .habitacion2, #gridHabitaciones .habitacion3 {
    grid-area: hab1;
    background-color: #EFEEEA;
    padding: 1vh;
    margin: 2vh;
    border: 0.1vh solid #DBC9B8;
    border-radius: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s; }
    #gridHabitaciones .habitacion1:hover, #gridHabitaciones .habitacion2:hover, #gridHabitaciones .habitacion3:hover {
      filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
  #gridHabitaciones .habitacion2 {
    grid-area: hab2; }
  #gridHabitaciones .habitacion3 {
    grid-area: hab3; }
  #gridHabitaciones .imagenHabitaciones {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 1vh;
    border-radius: 0.3em; }
  #gridHabitaciones .ulmainHabitacion {
    list-style-type: circle;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: flex-start; }

/*SERVICIOS*/
#gridServicios {
  display: grid;
  height: 100%;
  width: 100%;
  background-color: #EFEEEA;
  row-gap: 0vh;
  justify-content: space-around; }
  #gridServicios .bannerserv {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/capaservicios.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridServicios .divLinealServ {
    grid-area: l; }
  #gridServicios .servicioCaja1, #gridServicios .servicioCaja2, #gridServicios .servicioCaja3, #gridServicios .servicioCaja4 {
    grid-area: serv1;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 2vh;
    margin: 1vh;
    background-color: transparent;
    border: 0.1vh solid transparent;
    transition: 1s; }
    #gridServicios .servicioCaja1:hover, #gridServicios .servicioCaja2:hover, #gridServicios .servicioCaja3:hover, #gridServicios .servicioCaja4:hover {
      border: 0.1vh solid #DBC9B8;
      border-radius: 0.3em; }
  #gridServicios .servicioCaja2 {
    grid-area: serv2; }
  #gridServicios .servicioCaja3 {
    grid-area: serv3; }
  #gridServicios .servicioCaja4 {
    grid-area: serv4; }
  #gridServicios .textoServ1, #gridServicios .textoServ2, #gridServicios .textoServ3, #gridServicios .textoServ4 {
    grid-area: acc;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-items: center; }
  #gridServicios .textoServ2 {
    grid-area: pets; }
  #gridServicios .textoServ3 {
    grid-area: sust; }
  #gridServicios .textoServ4 {
    grid-area: gast; }
  #gridServicios .servs {
    display: inline-block;
    filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
  #gridServicios .logoServ {
    justify-self: center;
    align-self: center;
    margin-right: 2vw;
    display: inline-block;
    filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }

/*CONTACTO*/
#gridcontactanos {
  display: grid;
  height: 100%;
  width: 100%; }
  #gridcontactanos .bannerContactanos {
    grid-area: banner;
    display: flex;
    justify-content: center;
    background-image: url(../IMG/capacontactanos.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
  #gridcontactanos .formulario {
    grid-area: formulario;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center; }
    #gridcontactanos .formulario textarea, #gridcontactanos .formulario .form, #gridcontactanos .formulario select {
      border: none;
      border-bottom: 2px solid #DBC9B8;
      background-color: #EFEEEA;
      width: 100%; }
      #gridcontactanos .formulario textarea:focus, #gridcontactanos .formulario .form:focus, #gridcontactanos .formulario select:focus {
        outline-color: #DBC9B8;
        border-radius: 0.3em; }
    #gridcontactanos .formulario .form, #gridcontactanos .formulario select {
      height: 3.5vh; }
    #gridcontactanos .formulario .radios {
      display: flex;
      flex-direction: column; }
      #gridcontactanos .formulario .radios .form-check-input:checked {
        background-color: #DBC9B8;
        border-color: #DBC9B8; }
    #gridcontactanos .formulario .botonLink {
      text-transform: uppercase; }
  #gridcontactanos .datos {
    grid-area: datos;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    align-items: center; }
    #gridcontactanos .datos div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      text-justify: center;
      text-align: center; }
      #gridcontactanos .datos div img {
        margin-right: 1vh;
        height: 1.7vh; }
  #gridcontactanos .mapa {
    grid-area: mapa;
    display: flex;
    justify-self: center;
    align-self: center;
    width: 80%;
    height: 80%; }

/*FOOTER*/
.footerDiv {
  background-color: #2F2A26;
  width: 100%;
  display: flex;
  align-items: center; }
  .footerDiv .divFooter1 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter1 .divLinealFooter1 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0.5vh 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    .footerDiv .divFooter1 .divFooter1div1 {
      display: flex;
      flex-direction: column; }
  .footerDiv .divFooter2 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter2 .aFooter {
      transition: 1s;
      text-decoration: none; }
      .footerDiv .divFooter2 .aFooter:hover {
        color: #EFEEEA; }
  .footerDiv .divFooter3 {
    display: flex;
    flex-direction: column; }
    .footerDiv .divFooter3 .redesSocialesLogo {
      height: 2vh; }
    .footerDiv .divFooter3 .facebookLogo {
      margin: 0 1.5vw 0 1.5vw; }
    .footerDiv .divFooter3 .divLinealFooter2 {
      width: 100%;
      height: 0;
      border-top: 0.1vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: 0.5vh 0 0 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    .footerDiv .divFooter3 .aFooter {
      transition: 1s;
      text-decoration: none; }
      .footerDiv .divFooter3 .aFooter:hover {
        color: #EFEEEA; }

.credito {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #DBC9B8; }
  .credito p {
    text-align: center;
    text-justify: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    color: #2F2A26;
    margin: 1vh 0 0.5vh 0; }
  .credito img {
    height: 2vh;
    margin: 0 1vh 1vh 1vh; }

/*FUENTES*/
h1 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #EFEEEA;
  line-height: 1,5;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: #2F2A26 0.1em 0.1em 0.2em;
  font-weight: 700; }

h2 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #2F2A26;
  line-height: 1,5;
  margin-bottom: 1vh;
  font-weight: 700;
  font-size: 10vh; }

h3, .h3Centrado {
  font-family: "Montserrat Alternates", sans-serif;
  color: #2F2A26;
  font-weight: 700; }

.h3Centrado {
  text-align: center; }

h4 {
  font-family: "Montserrat Alternates", sans-serif;
  text-shadow: #2F2A26 0.1em 0.1em 0.2em;
  color: #EFEEEA; }

.texto1 {
  font-family: "Poppins", sans-serif;
  color: #2F2A26;
  text-justify: center;
  text-align: center;
  line-height: 1.5; }

.texto2 {
  font-family: "Poppins", sans-serif;
  color: #2F2A26;
  line-height: 1.5; }

.texto3 {
  font-family: "Poppins", sans-serif;
  color: #2F2A26;
  font-size: 0.8em; }

.textoFooter {
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  color: #C8B6A5; }

.botonLink {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #EFEEEA;
  background-color: #C65425;
  transition: 1s;
  display: flex;
  border: 0.1vh solid #C65425;
  border-radius: 0.3em;
  justify-self: center;
  align-self: center; }
  .botonLink:hover {
    background-color: transparent;
    color: #2F2A26; }

/*RESERVA*/
#reservaAhora {
  position: fixed;
  display: inline-block;
  filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }

/*DESKTOP*/
@media screen and (min-width: 769px) {
  /*HEADER + NAV*/
  header {
    height: 10vh;
    position: fixed;
    flex-direction: row; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 5vh;
        justify-content: flex-start; }
      header .navbar .linknav {
        padding: 0.5vh 0.5vh;
        font-size: 1em; }
        header .navbar .linknav:hover {
          border: 0.1vh solid #DBC9B8;
          border-radius: 0.3em; }
      header .navbar .botonContactanos {
        background: #DBC9B8;
        border: 0.1vh solid #DBC9B8;
        transition: 1s;
        border-radius: 0.3em; }
        header .navbar .botonContactanos:hover {
          background: #EFEEEA; }
  /*MAIN*/
  main {
    padding-top: 10vh; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 40% 10% 10% 40%;
    grid-template-rows: 50vh 50vh 50vh 10vh 15vh 15vh 10vh 4vh 40vh;
    grid-template-areas: "banner banner banner banner" "bienvenida bienvenida bienvenida bienvenida" "desc desc hab hab" "l1 l1 l1 l1" "fotoacc l2 l2 fotopet" "accesible l2 l2 pet" "botonserv botonserv botonserv botonserv" "l3 l3 l3 l3" "lista lista mapa mapa"; }
    #gridIndex .bienvenidaHuasi {
      line-height: 1.5;
      margin: 3vw 20vw 0 20vw; }
    #gridIndex .galeriaHabs {
      width: 40vw; }
      #gridIndex .galeriaHabs:hover {
        filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
    #gridIndex .fotoacc, #gridIndex .fotopet {
      margin-left: 7vh;
      margin-bottom: 3vh;
      height: 12vh; }
    #gridIndex .accesibilidad, #gridIndex .petFriendly {
      margin-left: 7vh; }
    #gridIndex .divLineal2 {
      width: 0.1vw;
      height: 90%;
      border-top: 0;
      border-left: 0.3vh;
      border-bottom: 0;
      border-right: 0;
      margin: 0;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridIndex .fotopet {
      margin-right: 7vh;
      margin-bottom: 3vh;
      height: 12vh; }
    #gridIndex .petFriendly {
      margin-right: 7vh; }
    #gridIndex .h3Index {
      margin: 0 0 1vh 0;
      display: flex;
      justify-self: center;
      align-self: center; }
  /*NOSOTROS*/
  .bannerNosotros {
    height: 50vh; }
  .container-sm {
    height: 50vh; }
  /*HABITACIONES*/
  #gridHabitaciones {
    background-color: #EFEEEA;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh 30vh 70vh;
    grid-template-areas: "banner banner banner" "descripcion descripcion descripcion" "hab1 hab2 hab3"; }
    #gridHabitaciones .descripcion {
      margin: 0 10vh; }
    #gridHabitaciones .habitacion1, #gridHabitaciones .habitacion2, #gridHabitaciones .habitacion3 {
      padding: 3vh; }
    #gridHabitaciones .habitacion2 {
      padding: 3vh; }
    #gridHabitaciones .habitacion3 {
      padding: 3vh; }
    #gridHabitaciones .imagenHabitaciones {
      width: 10vw; }
  /*SERVICIOS*/
  #gridServicios {
    grid-template-columns: 20% 2% 78%;
    grid-template-rows: 50vh 23vh 23vh 23vh 23vh;
    grid-template-areas: "banner banner banner" "serv1 l acc" "serv2 l pets" "serv3 l sust" "serv4 l gast"; }
    #gridServicios .divLinealServ {
      width: 0.1vw;
      height: 90%;
      border-top: 0;
      border-left: 0.3vh;
      border-bottom: 0;
      border-right: 0;
      margin: auto;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridServicios .textoServ1, #gridServicios .textoServ2, #gridServicios .textoServ3, #gridServicios .textoServ4 {
      margin: 0 15vh 0 6vh; }
    #gridServicios .textoServ2 {
      margin: 0 6vh; }
    #gridServicios .textoServ3 {
      margin: 0 6vh; }
    #gridServicios .textoServ4 {
      margin: 0 6vh; }
    #gridServicios .servs {
      height: 8vh; }
    #gridServicios .logoServ {
      height: 8vh; }
  /*CONTACTANOS*/
  #gridcontactanos {
    background-color: #EFEEEA;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50vh 100vh 45vh;
    grid-template-areas: "banner banner" "formulario formulario" "datos mapa"; }
    #gridcontactanos .formulario {
      justify-items: start;
      width: 60%; }
  /*FOOTER*/
  .footerDiv {
    height: 30vh;
    flex-direction: row;
    justify-content: space-evenly; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: start; }
      .footerDiv .divFooter1 .huasiLogoFooter {
        height: 5vh; }
      .footerDiv .divFooter1 .divFooter1div1 {
        display: flex;
        flex-direction: column; }
    .footerDiv .divFooter2 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter2 .aFooter {
        transition: 1s;
        text-decoration: none; }
        .footerDiv .divFooter2 .aFooter:hover {
          color: #EFEEEA; }
    .footerDiv .divFooter3 {
      display: flex;
      flex-direction: column; }
      .footerDiv .divFooter3 .divFooter3div1 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap; }
        .footerDiv .divFooter3 .divFooter3div1 .redesSocialesLogo {
          height: 2vh; }
        .footerDiv .divFooter3 .divFooter3div1 #facebookLogo {
          margin: 0 1.5vh 0 1.5vh; }
  /*FUENTES*/
  h1 {
    font-size: 3em; }
  h2 {
    font-size: 2em; }
  h3, .h3Centrado {
    font-size: 1.4em; }
  .texto1 {
    font-size: 1.1em;
    line-height: 1.5; }
  .botonLink {
    font-size: 1em;
    margin-top: 2vh;
    padding: 0.6vh; }
  /*RESERVA*/
  #reservaAhora {
    right: 3vh;
    bottom: 18vh;
    height: 8vh; } }

/*TABLETS*/
@media screen and (min-width: 600px) and (max-width: 768px) {
  /*HEADER + NAV*/
  header {
    position: relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 5vh;
        justify-content: center;
        margin: 0.1vh 0; }
      header .navbar ul {
        flex-direction: center;
        align-items: center;
        height: 15vh;
        line-height: 1em; }
        header .navbar ul .linknav {
          padding: 0.5vh 0.5vh;
          font-size: 1em; }
          header .navbar ul .linknav:hover {
            border: 0.1vh solid #DBC9B8;
            border-radius: 0.3em; }
  /*MAIN*/
  main {
    padding-top: 0vh; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh 5vh 25vh 40vh 5vh 10vh 20vh 10vh 15vh 5vh 5vh 15vh 30vh;
    grid-template-areas: "banner" "bienvenida" "l1" "desc" "hab" "l2" "fotoacc" "accesible" "fotopet" "pet" "botonserv" "l3" "lista" "mapa"; }
    #gridIndex .bienvenidaHuasi {
      margin: 3vw 5vw 0 5vw; }
    #gridIndex .flecha {
      width: 0;
      margin-top: 0; }
    #gridIndex .galeriaHabs {
      width: 80vw;
      filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
    #gridIndex .divLineal2 {
      width: 90%;
      height: 0.1vh;
      border-top: 0.3vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: auto;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridIndex .fotoacc, #gridIndex .fotopet, #gridIndex .fotopet {
      height: 10vh; }
    #gridIndex .accesibilidad, #gridIndex .petFriendly {
      margin: 0 5vh;
      justify-content: center; }
  /*NOSOTROS*/
  .bannerNosotros {
    height: 30vh; }
  .container-sm {
    height: 60vh; }
  /*HABITACIONES*/
  #gridHabitaciones {
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh 60vh 60vh 60vh;
    grid-template-areas: "banner" "descripcion" "hab1" "hab2" "hab3"; }
    #gridHabitaciones .descripcion {
      margin: 0 5vh; }
    #gridHabitaciones .imagenHabitaciones {
      width: 30vw; }
  /*SERVICIOS*/
  #gridServicios {
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vh 15vh 15vh 15vh 15vh 5vh 15vh 15vh;
    grid-template-areas: "banner banner" "acc acc" "pets pets" "sust sust" "gast gast" "l l" "serv1 serv2" "serv3 serv4"; }
    #gridServicios .divLinealServ {
      width: 90%;
      height: 0.1vh;
      border-top: 0.3vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: auto;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridServicios .servs {
      height: 5vh;
      margin-bottom: 1vh; }
    #gridServicios .logoServ {
      height: 5vh; }
    #gridServicios .textoServ1, #gridServicios .textoServ2, #gridServicios .textoServ3, #gridServicios .textoServ4 {
      margin: 0 8vh; }
    #gridServicios .textoServ2 {
      margin: 0 8vh; }
    #gridServicios .textoServ3 {
      margin: 0 8vh; }
    #gridServicios .textoServ4 {
      margin: 0 8vh; }
  /*CONTACTANOS*/
  #gridcontactanos {
    grid-template-columns: 50% 50%;
    grid-template-rows: 30vh 85vh 40vh;
    grid-template-areas: "banner banner" "formulario formulario" "datos mapa"; }
    #gridcontactanos .formulario {
      margin: 0 5vh;
      justify-items: start; }
  /*FOOTER*/
  .footerDiv {
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center; }
    .footerDiv .divFooter1 {
      justify-items: space-around;
      flex-direction: column;
      justify-items: center;
      align-items: center;
      padding: 0 3%; }
      .footerDiv .divFooter1 .huasiLogoFooter {
        height: 6vh; }
      .footerDiv .divFooter1 .divFooter1div1 {
        justify-items: center;
        align-items: center; }
    .footerDiv .div2footer {
      padding: 0 3%;
      flex-direction: column;
      flex-wrap: wrap; }
      .footerDiv .div2footer .afooter {
        margin: 0.5vw; }
    .footerDiv .divFooter3 {
      justify-items: center;
      align-items: center;
      padding: 0 3%; }
  /*FUENTES*/
  h1 {
    font-size: 2.4em; }
  h2 {
    font-size: 1.5em; }
  h3, .h3Centrado {
    font-size: 1em; }
  .texto1 {
    font-size: 1.1em; }
  .texto2 {
    font-size: 0.9em; }
  .textoFooter {
    font-size: 0.9em; }
  .botonLink {
    font-size: 0.9em;
    margin-top: 2vh;
    padding: 0.6vh; }
  /*RESERVA*/
  #reservaAhora {
    right: 3vh;
    bottom: 13vh;
    height: 8vh; } }

/*MOBILE*/
@media screen and (min-width: 0px) and (max-width: 599px) {
  /*HEADER + NAV*/
  header {
    position: relative;
    flex-direction: column;
    padding: 1rem; }
    header .navbar {
      width: 100%; }
      header .navbar img {
        height: 5vh;
        justify-content: center; }
      header .navbar ul {
        flex-direction: column;
        margin-top: 1vh;
        justify-content: center;
        height: 15vh; }
        header .navbar ul .linknav {
          font-size: 1em;
          padding: 0 0.3vh; }
          header .navbar ul .linknav:hover {
            border: 0.1vh solid #DBC9B8;
            border-radius: 0.3em; }
  /*MAIN*/
  main {
    padding-top: 0vh; }
  /*INDEX*/
  #gridIndex {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 40vh 5vh 25vh 30vh 5vh 10vh 20vh 10vh 15vh 5vh 5vh 20vh 40vh;
    grid-template-areas: "banner" "bienvenida" "l1" "desc" "hab" "l2" "fotoacc" "accesible" "fotopet" "pet" "botonserv" "l3" "lista" "mapa"; }
    #gridIndex .bienvenidaHuasi {
      justify-content: center;
      margin: 5vw 5vw 0 5vw; }
    #gridIndex .flecha {
      width: 0;
      margin-top: 0; }
    #gridIndex .galeriaHabs {
      width: 80vw;
      filter: drop-shadow(0 0.2vh 0.3vh #2F2A26); }
    #gridIndex .divLineal2 {
      width: 90%;
      height: 0.1vh;
      border-top: 0.3vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: auto;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridIndex .fotoacc, #gridIndex .fotopet, #gridIndex .fotopet {
      height: 10vh; }
    #gridIndex .accesibilidad, #gridIndex .petFriendly, #gridIndex .petFriendly {
      margin: 0 5vh;
      justify-content: center;
      align-items: center; }
  /*NOSOTROS*/
  .bannerNosotros {
    height: 20vh; }
  .container-sm {
    height: 72vh; }
  /*HABITACIONES*/
  #gridHabitaciones {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 45vh 55vh 55vh 55vh;
    grid-template-areas: "banner" "descripcion" "hab1" "hab2" "hab3"; }
    #gridHabitaciones .descripcion {
      margin: 0 3vh; }
    #gridHabitaciones .imagenHabitaciones {
      width: 30vw; }
  /*SERVICIOS*/
  #gridServicios {
    grid-template-columns: 50% 50%;
    grid-template-rows: 20vh 30vh 20vh 20vh 25vh 5vh 15vh 15vh;
    grid-template-areas: "banner banner" "acc acc" "pets pets" "sust sust" "gast gast" "l l" "serv1 serv2" "serv3 serv4"; }
    #gridServicios .divLinealServ {
      width: 90%;
      height: 0.1vh;
      border-top: 0.3vh;
      border-left: 0;
      border-bottom: 0;
      border-right: 0;
      margin: auto;
      display: flex;
      align-self: center;
      justify-self: center;
      border-color: #DBC9B8;
      border-style: solid; }
    #gridServicios .servs {
      height: 5vh;
      margin-bottom: 1vh; }
    #gridServicios .logoServ {
      height: 5vh; }
    #gridServicios .textoServ1, #gridServicios .textoServ2, #gridServicios .textoServ3, #gridServicios .textoServ4 {
      margin: 0 5vh; }
    #gridServicios .textoServ2 {
      margin: 0 5vh; }
    #gridServicios .textoServ3 {
      margin: 0 5vh; }
    #gridServicios .textoServ4 {
      margin: 0 5vh; }
  /*CONTACTANOS*/
  #gridcontactanos {
    grid-template-columns: 100%;
    grid-template-rows: 20vh 100vh 25vh 40vh;
    grid-template-areas: "banner" "formulario" "datos" "mapa"; }
    #gridcontactanos .formulario {
      margin: 0 5vh; }
  /*FOOTER*/
  .footerDiv {
    height: 70vh;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    padding: 3vh 0; }
    .footerDiv .divFooter1 {
      flex-direction: column;
      justify-items: space-between;
      justify-items: center;
      align-items: center; }
      .footerDiv .divFooter1 .huasiLogoFooter {
        height: 5vh; }
      .footerDiv .divFooter1 .divFooter1div1 {
        justify-items: space-around;
        flex-direction: column;
        justify-items: center;
        align-items: center; }
    .footerDiv .divFooter2 {
      justify-items: center;
      align-items: center;
      flex-direction: column; }
      .footerDiv .divFooter2 .afooter {
        display: flex;
        margin: 0.9vh; }
    .footerDiv .divFooter3 {
      justify-items: center;
      align-items: center;
      justify-items: space-between; }
  /*FUENTES*/
  h1 {
    font-size: 1.6em; }
  h2 {
    font-size: 1.2em; }
  h3, .h3Centrado {
    font-size: 0.9em; }
  .texto1 {
    font-size: 0.9em; }
  .texto2 {
    font-size: 0.8em; }
  .textoFooter {
    font-size: 0.8em;
    text-justify: center;
    text-align: center; }
  .botonLink {
    font-size: 0.8em;
    margin-top: 2vh;
    padding: 0.6vh; }
  /*RESERVA*/
  #reservaAhora {
    right: 0vh;
    bottom: 0vh;
    height: 0vh; } }
