@import "variables.scss";

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EFEEEA;
}

/*HEADER*/

header{
    background-color: #EFEEEA;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    box-shadow: 0 0 0.7vh 0;
    box-shadow: #2F2A26/20%;
    z-index: 10;

    .navbar{
        width: 100%;

        img{
            display: flex;
            padding-left: 7vw;
        }        

        .collapse{
            flex-grow:0;
        }

        ul{
            list-style-type: none;
            font-family: 'Poppins', sans-serif;
            height: 8vh;
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: space-evenly;
            padding-right: 7vw;

            li{
                display: flex;
                text-decoration: none;

                a{
                    color: #C65425;
                    text-decoration: none;
                    background-color: transparent;
                    border:0.1vh solid transparent;
                    transition: 1s;
                    &:hover{
                        border: #DBC9B8;
                        color: #C65425;
                    
                    }
                } 
            }
        }
    }
}

/*MAIN*/

main{
    background-color: #EFEEEA;
}

/*INDEX*/
#gridIndex{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #EFEEEA;
    row-gap: 0vh;
    justify-content: space-around;

    .bannerindex{
        @include banners (url(../IMG/capaindex.png));
    }
    
    .bienvenidaHuasi{
        grid-area: bienvenida;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .flecha{
        width: 5vh;
        margin-top: 3vh;
    }
    
    .desc{
        grid-area: desc;
        display: flex;
        flex-direction: column;
        text-justify: center;
        text-align: center;
        align-self: center;
        margin: 5vh;
    }

    .galeriaHabs{
        grid-area: hab;
        display: flex;
        align-self: center;
        justify-self: center;
        margin-bottom: 3rem;
        transition: 1s;
    }

    .divLineal1{
        grid-area: l1;
        @include divLineal(90%,0.1vh, 0.3vh, 0, auto);
    }

    .fotoacc{
        grid-area: fotoacc;
        display: flex;
        align-self: center;
        justify-self: center;
        display: inline-block;
        filter: $sombraImg;
    }
    
    .accesibilidad{
        grid-area: accesible;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        margin-top: 2vh;
    }
    
    .divLineal2{
        grid-area: l2;
    }
    

    .fotopet{
        grid-area: fotopet;
        @extend .fotoacc;
    }
    
    .petFriendly{
        grid-area: pet;
        @extend .accesibilidad;
    }
    
    .botonServ{
        grid-area: botonserv;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
    }
    
    .divLineal3{
        grid-area: l3;
        @include divLineal(90%,0.1vh, 0.3vh, 0, auto);
    }
    
    .lista{
        grid-area: lista;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        background-color: transparent;

        ul{
            list-style-type:circle;
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
        }
    }
    
    
    .mapaIndex{
        grid-area: mapa;
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 80%;
        background-color: transparent;
    }
    
    .h3Index{
        margin: 0 0 1vh 0;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    
}


/*NOSOTROS*/

.bannerNosotros{
    display: flex;
    justify-content: center;
    background-image: url(../IMG/capanosotros.png);                  
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.textoNosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galeriaNosotros{
    display: flex;
    align-self: center;
    justify-self: center;
    margin-bottom: 3rem;
    transition: 1s;

    &:hover{
        filter: $sombraImg;
    }
}

/*HABITACIONES*/

#gridHabitaciones{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #EFEEEA;
    row-gap: 0vh;
    justify-content: space-around;

    .bannerHabitaciones{
        @include banners(url(../IMG/capahabitaciones.png));
    }

    .descripcion{
        grid-area: descripcion;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .habitacion1{
        grid-area: hab1;
        background-color: #EFEEEA;
        padding: 1vh;
        margin:2vh;
        border: 0.1vh solid #DBC9B8;
        border-radius: $redondeado;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 1s;

        &:hover{
            filter: $sombraImg;
        }
    }

    .habitacion2{
        grid-area: hab2;
        @extend .habitacion1;

        &:hover{
            @extend .habitacion1.habitacion1:hover;
        }
    }

    .habitacion3{
        grid-area: hab3;
        @extend .habitacion1;

        &:hover{
            @extend .habitacion1.habitacion1:hover;
        }
    }

    .imagenHabitaciones{
        display: flex;
        justify-content: center;
        align-content: center;
        margin-bottom: 1vh;
        border-radius: $redondeado;
    }
    
    .ulmainHabitacion{
        list-style-type:circle;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-items: flex-start;
    }

}

/*SERVICIOS*/
#gridServicios{
    display: grid;
    height: 100%;
    width: 100%;
    background-color: #EFEEEA;
    row-gap: 0vh;
    justify-content: space-around;

    .bannerserv{
        @include banners(url(../IMG/capaservicios.png));
    }

    .divLinealServ{
        grid-area: l;
    }

    .servicioCaja1{
        grid-area: serv1;
        display:flex;
        flex-direction: column;
        justify-self: center;
        align-items: center;
        justify-content: space-evenly;
        padding: 2vh;
        margin: 1vh;
        background-color: transparent;
        border:0.1vh solid transparent;
        transition: 1s;

        &:hover{
            border:0.1vh solid #DBC9B8;
            border-radius: $redondeado;
        }
    }

    .servicioCaja2{
        grid-area: serv2;
        @extend .servicioCaja1;

        &:hover{
            @extend .servicioCaja1:hover;
        }
    }

    .servicioCaja3{
        grid-area: serv3;
        @extend .servicioCaja1;

        &:hover{
            @extend .servicioCaja1:hover;
        }
    }

    .servicioCaja4{
        grid-area: serv4;
        @extend .servicioCaja1;

        &:hover{
            @extend .servicioCaja1:hover;
        }
    }
    
    .textoServ1{
        grid-area: acc;
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-items: center;
    }

    .textoServ2{
        grid-area: pets;
        @extend .textoServ1;
    }

    .textoServ3{
        grid-area: sust;
        @extend .textoServ1;
    }

    .textoServ4{
        grid-area:gast;
        @extend .textoServ1;
    }

    .servs{
        display: inline-block;
        filter: $sombraImg;
    }
    
    .logoServ{
        justify-self: center;
        align-self: center;
        margin-right: 2vw;
        display: inline-block;
        filter: $sombraImg; 
    }
}


/*CONTACTO*/

#gridcontactanos{
    display: grid;
    height: 100%;
    width: 100%;

    .bannerContactanos{
        @include banners(url(../IMG/capacontactanos.png));
    }

    .formulario{
        grid-area: formulario;
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;

        textarea{
            border: none;
            border-bottom: 2px solid #DBC9B8;
            background-color: #EFEEEA;
            width: 100%;

            &:focus{
                outline-color: #DBC9B8;
                border-radius: $redondeado;
            } 
        }

        .form, select{
            @extend textarea;
            height: 3.5vh;

            &:focus{
                @extend textarea:focus;
            } 
        }

        .radios{
            display: flex;
            flex-direction: column;

            .form-check-input:checked {
                background-color: #DBC9B8;
                border-color: #DBC9B8;
            }
        } 

        .botonLink{
            text-transform:$mayuscula;
        }
    }
    
    .datos{
        grid-area: datos;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-self: center;
        align-items: center;

        div{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            text-justify: center;
            text-align: center;

            img{
                margin-right: 1vh;
                height: 1.7vh;
            }
        }
    }

    .mapa{
        grid-area: mapa;
        display: flex;
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 80%;
    }
    
}

/*FOOTER*/
.footerDiv{
    background-color: #2F2A26;
    width: 100%;
    display: flex;
    align-items: center;
    .divFooter1{
        display: flex;
        flex-direction: column;

        .divLinealFooter1{
            @include divLineal(100%, 0, 0.1vh, 0, 0.5vh 0);
        }
        .divFooter1div1{
            display: flex;
            flex-direction: column;
        }
    }

    .divFooter2{
        display: flex;
        flex-direction: column;
        .aFooter{
            transition: 1s;
            text-decoration: none;
            &:hover{
                color: #EFEEEA;
            }
        }
    }

    .divFooter3{
        display: flex;
        flex-direction: column;

        .redesSocialesLogo{
            height: 2vh;
        }
        .facebookLogo{
            margin: 0 1.5vw 0 1.5vw;
        }

        .divLinealFooter2{
            @include divLineal(100%, 0, 0.1vh, 0, 0.5vh 0 0 0)
        }

        .aFooter{
            transition: 1s;
            text-decoration: none;
            &:hover{
                color: #EFEEEA;
            }
        }
    }
}

.credito{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DBC9B8;
    
    p{
        text-align: center;
        text-justify: center;
        font-family: $fuenteTextos;
        font-size: 0.8em;
        color:#2F2A26;
        margin: 1vh 0 0.5vh 0;
    }

    img{
        height: 2vh;
        margin: 0 1vh 1vh 1vh;
    }
}

/*FUENTES*/
h1{
    font-family: $fuenteTitulos;
    color: #EFEEEA;
    line-height: 1,5;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: $sombraTexto;
    font-weight: 700;
}

h2{
    font-family: $fuenteTitulos;
    color: $colorTextos;
    line-height: 1,5;
    margin-bottom: 1vh;
    font-weight: 700;
    font-size: 10vh;
}

h3{
    font-family: $fuenteTitulos; 
    color: $colorTextos;
    font-weight: 700;
}

.h3Centrado{
    @extend h3;
    text-align: center;
}

h4{
    font-family: $fuenteTitulos;
    text-shadow: $sombraTexto;
    color: #EFEEEA;
}

.textoCentrado{
    font-family: $fuenteTextos;
    color: $colorTextos;
    text-justify: center;
    text-align: center;
    line-height: 1.5;
}

.fuenteCajaFormulario{
    font-family: $fuenteTextos;
    color: $colorTextos;
    font-size: 0.8em;
}

.textoChico{
    font-family: $fuenteTextos;
    color: $colorTextos;
    line-height: 1.5;
}

.textoFooter{
    line-height: 1.6;
    font-family: $fuenteTextos;
    color: #C8B6A5; 
}

.botonLink{
    text-decoration: none;
    font-family: $fuenteTextos;
    color: #EFEEEA;
    background-color: #C65425 ;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #C65425;
    border-radius: $redondeado;
    justify-self: center;
    align-self: center;

    &:hover{
        background-color: transparent;
        color: #2F2A26;
    }
}

/*RESERVA*/
#reservaAhora{
    position: fixed;
    display: inline-block;
    filter: $sombraImg; 
}


/*DESKTOP*/

@media screen and (min-width: 769px){
    
/*HEADER + NAV*/

header{
    height: 10vh; 
    position: fixed;
    flex-direction: row;

    
    .navbar{
        width: 100%;

        img{
            height: 5vh;
            justify-content: flex-start;
        }
        
        .linknav{
            padding:0.5vh 0.5vh;
            font-size: 1em;

            &:hover{
                border:0.1vh solid #DBC9B8;
                border-radius: $redondeado;
            }
        }

        .botonContactanos{
            background: #DBC9B8;
            border:0.1vh solid #DBC9B8;
            transition: 1s;
            border-radius: $redondeado;
        
            &:hover{
                background: #EFEEEA;
            }
            
        }
    }
}


/*MAIN*/

main{
    padding-top: 10vh;
}

/*INDEX*/
#gridIndex{
    grid-template-columns: 40% 10% 10% 40%;
    grid-template-rows:50vh 50vh 50vh 10vh 15vh 15vh 10vh 4vh 40vh;
    grid-template-areas: "banner banner banner banner"
                         "bienvenida bienvenida bienvenida bienvenida"
                         "desc desc hab hab"
                         "l1 l1 l1 l1"
                         "fotoacc l2 l2 fotopet"
                         "accesible l2 l2 pet"
                         "botonserv botonserv botonserv botonserv"
                         "l3 l3 l3 l3"
                         "lista lista mapa mapa";

                         .bienvenidaHuasi{
                            line-height: 1.5;
                            margin: 3vw 20vw 0 20vw;
                        }                        

                        .galeriaHabs{
                            width: 40vw;

                            &:hover{
                                filter: $sombraImg;
                            }
                        }
                        
                        .fotoacc{
                            margin-left: 7vh;
                            margin-bottom: 3vh;
                            height: 12vh
                        }

                        .accesibilidad{
                            margin-left: 7vh;
                        }

                        .divLineal2{
                            @include divLineal(0.1vw, 90%, 0, 0.3vh, 0)
                        }
                        
                        .fotopet{
                            margin-right: 7vh;
                            margin-bottom: 3vh;
                            height: 12vh
                        }

                        .petFriendly{
                            margin-right: 7vh;
                        }
                        
                        .h3Index{
                            margin: 0 0 1vh 0;
                            display: flex;
                            justify-self: center;
                            align-self: center;
                        }
}

/*NOSOTROS*/

.bannerNosotros{
    height: 50vh;
}

.container-sm{
    height: 50vh;
}

/*HABITACIONES*/

#gridHabitaciones{
    background-color: #EFEEEA;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50vh 30vh 70vh;
    grid-template-areas: "banner banner banner"
                         "descripcion descripcion descripcion"
                         "hab1 hab2 hab3";

                        .descripcion{
                            margin: 0 10vh;
                        }
                         
                         .habitacion1{
                            padding: 3vh;
                        }

                        .habitacion2{
                            padding: 3vh;
                        }
                        
                        .habitacion3{
                            padding: 3vh;
                        }
                        
                        .imagenHabitaciones{
                            width: 10vw;
                        }
}



/*SERVICIOS*/

#gridServicios{
    grid-template-columns:28% 2% 70%;
    grid-template-rows: 50vh 23vh 23vh 23vh 23vh;
    grid-template-areas: "banner banner banner"
                         "serv1 l acc"
                         "serv2 l pets"
                         "serv3 l sust"
                         "serv4 l gast";

                        .divLinealServ{
                            @include divLineal(0.1vw, 90%, 0, 0.3vh, auto);
                        }
                        
                        .textoServ1{
                            margin: 0 6vh;
                        }
                        
                        .textoServ2{
                            margin: 0 6vh;
                        }
                        
                        .textoServ3{
                            margin: 0 6vh;
                        }
                        
                        .textoServ4{
                            margin: 0 6vh;
                        }
                        
                        .servs{
                            height: 8vh;
                        }
                        
                        .logoServ{
                            height: 8vh;
                        }         
}

/*CONTACTANOS*/

#gridcontactanos{
    background-color: #EFEEEA;
    grid-template-columns: 50% 50%;
    grid-template-rows:50vh 100vh 45vh;
    grid-template-areas: "banner banner"
                         "formulario formulario"
                         "datos mapa";

                        .formulario{
                            justify-items: start;
                            width: 60%;
                        }     
}

/*FOOTER*/
.footerDiv{
    height: 30vh;
    flex-direction: row;
    justify-content: space-evenly;

    .divFooter1{
        flex-direction: column;
        justify-items: start;

        .huasiLogoFooter{
            height: 5vh;
        }

        .divFooter1div1{
            display: flex;
            flex-direction: column;
        }
    }

    .divFooter2{
        display: flex;
        flex-direction: column;

        
        .aFooter{
            transition: 1s;
            text-decoration: none;

            &:hover{
                color: #EFEEEA;
            }
        }
    }

    .divFooter3{
        display: flex;
        flex-direction: column;

        .divFooter3div1{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            .redesSocialesLogo{
                height: 2vh;
            }
            
            #facebookLogo{
                margin: 0 1.5vh 0 1.5vh;
            }
        }
    }
}


/*FUENTES*/

h1{
    font-size: 3em;
}

h2{
    font-size: 2em;
}

h3{
    font-size: 1.4em;
}

.textoCentrado{
    font-size: 1.1em;
    line-height: 1.5;
}

.textoChicoIndex{
    font-size:1.2em;
    text-justify: center;
    text-align: center;
}

.botonLink{
    font-size: 1em;
    margin-top: 2vh;
    padding: 0.6vh;
}

/*RESERVA*/
#reservaAhora{
    right: 3vh;
    bottom: 18vh;
    height: 8vh;
}

}


/*TABLETS*/
@media screen and (min-width: 600px) and (max-width: 768px) {

/*HEADER + NAV*/

header{
    position:relative;
    flex-direction: column;
    justify-items: center;
    padding: 1rem;

    .navbar{
        width:100%;

        img{
            height: 5vh;
            justify-content: center;
            margin: 0.1vh 0;
        }
    
        ul{
            flex-direction: center;
            align-items: center;
            height: 15vh;
            line-height: 1em;
            
            .linknav{
                padding:0.5vh 0.5vh;
                font-size: 1em;
    
                &:hover{
                    border:0.1vh solid #DBC9B8;
                    border-radius: $redondeado;
                }
            }
        }
    }  
}



/*MAIN*/
main{
    padding-top: 0vh;
}

/*INDEX*/
#gridIndex{
    grid-template-columns: 100%;
    grid-template-rows:30vh 30vh 5vh 25vh 40vh 5vh 10vh 20vh 10vh 15vh 5vh 5vh 15vh 30vh;
    grid-template-areas: "banner"
                         "bienvenida"
                         "l1"
                         "desc"
                         "hab"
                         "l2"
                         "fotoacc"
                         "accesible"
                         "fotopet"
                         "pet"
                         "botonserv"
                         "l3"
                         "lista"
                         "mapa";

                         .bienvenidaHuasi{
                            margin: 3vw 5vw 0 5vw;
                        }

                        .flecha{
                            width: 0;
                            margin-top: 0;
                        }

                        .galeriaHabs{
                            width: 80vw;
                            filter: $sombraImg;
                        }
                        
                        .divLineal2{
                            @include divLineal(90%, 0.1vh, 0.3vh, 0, auto);
                        }

                        .fotoacc, .fotopet{
                            height: 10vh;
                        }

                        .accesibilidad{
                            margin: 0 5vh;
                            justify-content: center;
                        }
}




/*NOSOTROS*/
.bannerNosotros{
    height: 30vh;
}

.container-sm{
    height: 60vh;
}

/*HABITACIONES*/
#gridHabitaciones{
    grid-template-columns: 100%;
    grid-template-rows: 30vh 30vh 60vh 60vh 60vh;
    grid-template-areas: "banner"
                         "descripcion"
                         "hab1"
                         "hab2"
                         "hab3";

                        .descripcion{
                            margin: 0 5vh;
                        }

                        .imagenHabitaciones{
                            width: 30vw;
                        }
}

/*SERVICIOS*/
#gridServicios{
grid-template-columns:50% 50%;
grid-template-rows: 30vh 15vh 15vh 15vh 15vh 5vh 15vh 15vh;
grid-template-areas: "banner banner"
                     "acc acc"
                     "pets pets"
                     "sust sust"
                     "gast gast"
                     "l l"
                     "serv1 serv2"
                     "serv3 serv4";

                    .divLinealServ{
                        @include divLineal(90%, 0.1vh, 0.3vh, 0, auto)
                    }
                    
                    .servs{
                        height: 5vh;
                        margin-bottom: 1vh;
                    }
                    
                    .logoServ{
                        height: 5vh;
                    }
                    
                    .textoServ1{
                        margin: 0 8vh;
                    }
                    
                    .textoServ2{
                        margin: 0 8vh;
                    }
                    
                    .textoServ3{
                        margin: 0 8vh;
                    }
                    
                    .textoServ4{
                        margin: 0 8vh;
                    }                    
}


/*CONTACTANOS*/
#gridcontactanos{
    grid-template-columns: 50% 50%;
    grid-template-rows:30vh 85vh 40vh;
    grid-template-areas: "banner banner"
                         "formulario formulario"
                         "datos mapa";

                         .formulario{
                            margin: 0 5vh;
                            justify-items: start;
                        }
}


/*FOOTER*/

.footerDiv{
    height: 50vh;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    justify-content: center;

    .divFooter1{
        justify-items: space-around;
        flex-direction: column;
        justify-items: center;
        align-items:center;
        padding: 0 3%;

        .huasiLogoFooter{
            height: 6vh;
        }

        .divFooter1div1{
            justify-items: center;
            align-items:center;
        }
    }

    .div2footer{
        padding: 0 3%;
        flex-direction: column;
        flex-wrap: wrap;

        .afooter{
            margin: 0.5vw;
        } 
    }
    
    .divFooter3{
        justify-items: center;
        align-items: center;
        padding: 0 3%;
    }

}


/*FUENTES*/
h1{
    font-size: 2.4em;
}

h2{
    font-size: 1.5em;
}

h3{
    font-size: 1em;
}

.textoCentrado{
    font-size: 1.1em;
}

.textoChico{
    font-size: 0.9em;
}

.textoFooter{
    font-size: 0.9em;
}

.botonLink{
    font-size: 0.9em;
    margin-top: 2vh;
    padding: 0.6vh;
}

/*RESERVA*/
#reservaAhora{
    right: 3vh;
    bottom: 13vh;
    height: 8vh;
}

}


/*MOBILE*/

@media screen and (min-width: 0px) and (max-width: 599px){

/*HEADER + NAV*/

header{
    position:relative;
    flex-direction: column;
    padding: 1rem;

    .navbar{
        width: 100%;

        img{
            height: 5vh;
            justify-content: center;
        }

        ul{
            flex-direction: column;
            margin-top: 1vh;
            justify-content: center;
            height: 15vh;

            .linknav{
                font-size: 1em;
                padding: 0 0.3vh;

                &:hover{
                    border:0.1vh solid #DBC9B8;
                    border-radius: $redondeado;
                }
            }
            
        }
        
    }

}


/*MAIN*/
main{
    padding-top: 0vh;
}

/*INDEX*/
#gridIndex{
    grid-template-columns: 100%;
    grid-template-rows:20vh 40vh 5vh 25vh 30vh 5vh 10vh 20vh 10vh 15vh 5vh 5vh 20vh 40vh;
    grid-template-areas: "banner"
                         "bienvenida"
                         "l1"
                         "desc"
                         "hab"
                         "l2"
                         "fotoacc"
                         "accesible"
                         "fotopet"
                         "pet"
                         "botonserv"
                         "l3"
                         "lista"
                         "mapa";
                         
                         .bienvenidaHuasi{
                            justify-content: center;
                            margin: 5vw 5vw 0 5vw;
                        }

                        .flecha{
                            width: 0;
                            margin-top: 0;
                        }

                        .galeriaHabs{
                            width: 80vw;
                            filter: $sombraImg;
                        }
                            
                        .divLineal2{
                            @include divLineal(90%, 0.1vh, 0.3vh, 0, auto)
                        }

                        .fotoacc, .fotopet{
                            height: 10vh;
                        }
                            
                        .accesibilidad, .petFriendly{
                            margin: 0 5vh;
                            justify-content: center;
                            align-items: center;
                        }
}

/*NOSOTROS*/

.bannerNosotros{
    height: 20vh;
}

.container-sm{
    height: 72vh;
}

/*HABITACIONES*/
#gridHabitaciones{
    grid-template-columns: 100%;
    grid-template-rows: 20vh 45vh 55vh 55vh 55vh;
    grid-template-areas: "banner"
                         "descripcion"
                         "hab1"
                         "hab2"
                         "hab3";

                        .descripcion{
                            margin: 0 3vh;
                        }

                        .imagenHabitaciones{
                            width: 30vw;
                        }                    
}


/*SERVICIOS*/
#gridServicios{
    grid-template-columns:50% 50%;
    grid-template-rows: 20vh 30vh 20vh 20vh 25vh 5vh 15vh 15vh;
    grid-template-areas: "banner banner"
                         "acc acc"
                         "pets pets"
                         "sust sust"
                         "gast gast"
                         "l l"
                         "serv1 serv2"
                         "serv3 serv4";

                        .divLinealServ{
                            @include divLineal(90%, 0.1vh, 0.3vh, 0, auto)
                        }
                        
                        .servs{
                            height: 5vh;
                            margin-bottom: 1vh;
                        }
                            
                        .logoServ{
                            height: 5vh;
                        }
                        
                        .textoServ1{
                            margin: 0 5vh;
                        }
                        
                        .textoServ2{
                            margin: 0 5vh;
                        }
                        
                        .textoServ3{
                            margin: 0 5vh;
                        }
                        
                        .textoServ4{
                            margin: 0 5vh;
                        }
}


/*CONTACTANOS*/

#gridcontactanos{
    grid-template-columns: 100%;
    grid-template-rows:20vh 100vh 25vh 40vh;
    grid-template-areas: "banner"
                         "formulario"
                         "datos"
                         "mapa";

                        .formulario{
                            margin: 0 5vh;
                        }                        
}

/*FOOTER*/

.footerDiv{
    height:70vh;
    flex-direction: column;
    justify-content: space-evenly;
    justify-items: center;
    padding:3vh 0;

    .divFooter1{
        flex-direction: column;
        justify-items: space-between;
        justify-items: center;
        align-items: center;

        .huasiLogoFooter{
            height: 5vh;
        }
        
        .divFooter1div1{
            justify-items: space-around;
            flex-direction: column;
            justify-items: center;
            align-items:center;
        }
    }

    .divFooter2{
        justify-items: center;
        align-items: center;
        flex-direction: column;

        .afooter{
            display: flex;
            margin: 0.9vh;
        } 
    }

    .divFooter3{
        justify-items: center;
        align-items: center;
        justify-items: space-between;
    }

}

/*FUENTES*/
h1{
    font-size: 1.6em;
}

h2{
    font-size: 1.2em;
}

h3{
    font-size: 0.9em;
}

.textoCentrado{
    font-size: 0.9em;
}

.textoChico{
    font-size: 0.8em;
}

.textoFooter{
    font-size: 0.8em;
    text-justify: center;
    text-align: center;
}


.botonLink{
    font-size: 0.8em;
    margin-top: 2vh;
    padding: 0.6vh;
}

/*RESERVA*/
#reservaAhora{
    right: 0vh;
    bottom: 0vh;
    height: 0vh;
}

}