/*MEDIA QUERY - DESKTOP*/
@media screen and (min-width: 769px){
    
    /*HEADER + NAV*/
    
    header{
        height: 10vh; 
        position: fixed;
        flex-direction: row; 
    
        .navbar{
            width: 100%;
            
            .linknav{
                padding:0.5vh 0.5vh;
                font-size: 1em;
    
                &:hover{
                    border:0.1vh solid #DBC9B8;
                    border-radius: $redondeado;
                }
            }
    
            .botonContactanos{
                background: #DBC9B8;
                border:0.1vh solid #DBC9B8;
                transition: 1s;
                border-radius: $redondeado;
            
                &:hover{
                    background: #EFEEEA;
                }
                
            }
        }
    }
      
    /*MAIN*/
    
    main{
        padding-top: 10vh;
    }
    
    /*INDEX*/
    #gridIndex{
        grid-template-columns: 40% 10% 10% 40%;
        grid-template-rows: 25vw auto auto auto auto auto auto auto 30vw;
        grid-template-areas: "banner banner banner banner"
                             "bienvenida bienvenida bienvenida bienvenida"
                             "desc desc hab hab"
                             "l1 l1 l1 l1"
                             "fotoacc l2 l2 fotopet"
                             "accesible l2 l2 pet"
                             "botonserv botonserv botonserv botonserv"
                             "l3 l3 l3 l3"
                             "lista lista mapa mapa";

                            .bannerindex{
                                grid-area: banner;
                            }
    
                            .bienvenidaHuasi{
                                line-height: 1.5;
                                margin: 3vw 20vw;
    
                                .flecha{
                                    width: 5vh;
                                    margin-top: 3vh;
                                }                        
                            }                        
    
                            .galeriaHabs{
                                width: 40vw;
    
                                &:hover{
                                    filter: $sombraImg;
                                }
                            }
                            
                            .fotoacc{
                                margin: 5vh 0 3vh 7vh;
                                height: 12vh;
                            }
    
                            .accesibilidad{
                                margin-left: 7vh;
                                padding: 0 2vh;
                            }
    
                            .divLineal2{
                                @include divLineal(0.1vw, 90%, 0, 0.3vh, 0)
                            }
                            
                            .fotopet{
                                margin: 5vh 7vh 3vh 0;
                                height: 12vh
                            }
    
                            .petFriendly{
                                margin-right: 7vh;
                            }
    
                            .botonServ{
                                margin: 5vh 0;
                            }
                            
                            .h3Index{
                                margin: 0 0 1vh 0;
                                display: flex;
                                justify-self: center;
                                align-self: center;
                            }
    }
    
    /*NOSOTROS*/
    .bannerNosotros{
        height: 25vw;
    }
    
    /*HABITACIONES*/
    
    #gridHabitaciones{
        display: grid;
        height: 100%;
        width: 100%;
        background-color: #EFEEEA;
        row-gap: 0vh;
        justify-content: space-around;
        background-color: #EFEEEA;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 25vw auto auto;
        grid-template-areas: "banner banner banner"
                             "descripcion descripcion descripcion"
                             "hab1 hab2 hab3";

                            .bannerHabitaciones{
                                grid-area: banner;
                            }
    
                            .descripcion{
                                grid-area: descripcion;
                                margin: 6vw 10vw;
                            }
                             
                            .habitacion1{
                                grid-area: hab1;
                                padding: 3vh;
                                margin-bottom: 10vh;
                            } 

                            .habitacion2{
                                grid-area: hab2;
                                padding: 3vh;
                                margin-bottom: 10vh;
                            }

                            .habitacion3{
                                grid-area: hab3;
                                padding: 3vh;
                                margin-bottom: 10vh;
                            }
                            
                            .imagenHabitaciones{
                                width: 10vw;
                            }
    }
    
    
    
    /*SERVICIOS*/
    
    #gridServicios{
        grid-template-columns:20% 2% 78%;
        grid-template-rows: 25vw auto auto auto auto;
        grid-template-areas: "banner banner banner"
                             "serv1 l acc"
                             "serv2 l pets"
                             "serv3 l sust"
                             "serv4 l gast";
    
                            .divLinealServ{
                                @include divLineal(0.1vw, 90%, 0, 0.3vh, auto);
                            }
                            
                            .textoServ1{
                                margin: 0 15vh 0 6vh;
                            }
                            
                            .textoServ2, .textoServ3, .textoServ4{
                                margin: 0 6vh;
                            }
                            
                            .servs, .logoServ{
                                height: 8vh;
                            }       
    }
    
    /*CONTACTANOS*/
    
    #gridcontactanos{
        background-color: #EFEEEA;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25vw auto 30vw;
        grid-template-areas: "banner banner"
                             "formulario formulario"
                             "datos mapa";
    
                            .formulario{
                                width: 60%;
                                margin: 6vw 0;
                            }     
    }
    
    /*FOOTER*/

    .footerDiv{
        height: auto;
        flex-direction: row;
        justify-content: space-evenly;
    
        .divFooter1{
            justify-items: start;
    
            .huasiLogoFooter{
                height: 5vh;
                margin-top: 5vw;
            }
    
            .divFooter1div1{
                margin-bottom: 5vw;
            }
        }
    
        .divFooter3{
            display: flex;
            flex-direction: column;
    
            .divFooter3div1{
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
    }

    /*COMPONENTES*/ 
    
    /*BOTON*/
    .botonLink{
        font-size: 1em;
        margin-top: 2vh;
        padding: 0.6vh;
    }   

    /*RESERVA*/
    #reservaAhora{
        right: 3vh;
        bottom: 18vh;
        height: 8vh;
    }

    /*TEXTOS*/
    h1{
        font-size: 3em;
    }
    
    h2{
        font-size: 2em;
    }
    
    h3{
        font-size: 1.4em;
    }
    
    .texto1{
        font-size: 1.1em;
    }
    
}
    