@media screen and (min-width: 600px) and (max-width: 768px) {

    /*HEADER + NAV*/
    
    header{
        position:relative;
        flex-direction: column;
        justify-items: center;
        padding: 1rem;
    
        .navbar{
            width:100%;
    
            img{
                justify-content: center;
                margin: 0.1vh 0;
            }
        
            ul{
                flex-direction: center;
                align-items: center;
                height: 15vh;
                line-height: 1em;
                
                .linknav{
                    padding:0.5vh 0.5vh;
                    font-size: 1em;
        
                    &:hover{
                        border:0.1vh solid #DBC9B8;
                        border-radius: $redondeado;
                    }
                }
            }
        }  
    }
    
    
    
    /*MAIN*/
    main{
        padding-top: 0vh;
    }
    
    /*INDEX*/
    
    #gridIndex{
        grid-template-columns: 100%;
        grid-template-rows:25vw auto auto auto auto auto auto auto auto auto auto auto auto 40vw;
        grid-template-areas: "banner"
                             "bienvenida"
                             "l1"
                             "desc"
                             "hab"
                             "l2"
                             "fotoacc"
                             "accesible"
                             "fotopet"
                             "pet"
                             "botonserv"
                             "l3"
                             "lista"
                             "mapa";
    
                            .bienvenidaHuasi{
                                margin: 3vw 5vw 0 5vw;
    
                                .flecha{
                                    width: 0;
                                    margin-top: 0;
                                }
                            }
    
                            .galeriaHabs{
                                width: 80vw;
                                filter: $sombraImg;
                            }
                            
                            .divLineal2{
                                @include divLineal(90%, 0.1vh, 0.3vh, 0, auto);
                            }
    
                            .fotoacc, .fotopet{
                                height: 10vh;
                                margin: 5vw 0;
                            }
    
                            .accesibilidad{
                                margin: 0 5vh;
                                justify-content: center;
                            }
    
                            .botonServ{
                                margin: 3vw 0;
                            }
                            
                            .lista{
                                margin-top: 3vw;
                            }
    }

    /*NOSOTROS*/
    .bannerNosotros{
        height: 25vw;
    }
    
    /*HABITACIONES*/

    .bannerHabitaciones{
        height: 25vw;
    }
    
    .descripcion{
        margin: 5vw;
    }
    
    .habitacion1, .habitacion2, .habitacion3{
        padding: 5vw 0;
    
        .imagenHabitaciones{
            width: 30vw;
        }
    }
    
    /*SERVICIOS*/
    #gridServicios{
    grid-template-columns:50% 50%;
    grid-template-rows: 25vw auto auto auto auto auto auto auto;
    grid-template-areas: "banner banner"
                         "acc acc"
                         "pets pets"
                         "sust sust"
                         "gast gast"
                         "l l"
                         "serv1 serv2"
                         "serv3 serv4";

                        .bannerserv{
                            grid-area: banner;
                        }
    
                        .divLinealServ{
                            @include divLineal(90%, 0.1vh, 0.3vh, 0, auto)
                        }
                        
                        .servs{
                            height: 5vh;
                            margin-bottom: 1vh;
                        }
                        
                        .logoServ{
                            height: 5vh;
                        }
                        
                        .textoServ1, .textoServ2, .textoServ3, .textoServ4{
                            margin: 5vw 8vh;
                        }                  
    }
    
    
    /*CONTACTANOS*/
    #gridcontactanos{
        grid-template-columns: 50% 50%;
        grid-template-rows:25vw auto 40vw;
        grid-template-areas: "banner banner"
                             "formulario formulario"
                             "datos mapa";
    
                            .formulario{
                                margin: 6vw 5vh;
                            }
    }
    
    
    /*FOOTER*/
    
    .footerDiv{
        height: 60vw;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        justify-content: center;
    
        .divFooter1{
            justify-items: space-around;
            flex-direction: column;
            justify-items: center;
            align-items:center;
            padding: 0 3%;
    
            .huasiLogoFooter{
                height: 6vh;
            }
    
            .divFooter1div1{
                justify-items: center;
                align-items:center;
            }
        }
    
        .div2footer{
            padding: 0 3%;
            flex-direction: column;
            flex-wrap: wrap;
    
            .afooter{
                margin: 0.5vw;
            } 
        }
        
        .divFooter3{
            justify-items: center;
            align-items: center;
            padding: 0 3%;
        }
    
    }

    //COMPONENTES

    /*BOTON*/
    .botonLink{
        font-size: 0.9em;
        margin-top: 2vh;
        padding: 0.6vh;
    }
    
    /*RESERVA*/
    #reservaAhora{
        right: 3vh;
        bottom: 13vh;
        height: 8vh;
    }
    
    /*TEXTOS*/
    h1{
        font-size: 2.4em;
    }
    
    h2{
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1em;
    }
    
    .texto1{
        font-size: 1em;
    }
    
    .texto2{
        font-size: 0.9em;
    }
    
    .textoFooter{
        font-size: 0.9em;
    }
}