//BOTON
.botonLink{
    text-decoration: none;
    font-family: $fuenteTextos;
    color: #EFEEEA;
    background-color: #C65425 ;
    transition: 1s;
    display: flex;
    border: 0.1vh solid #C65425;
    border-radius: $redondeado;
    justify-self: center;
    align-self: center;

    &:hover{
        background-color: transparent;
        color: #2F2A26;
    }
}

/*DESKTOP*/

@media screen and (min-width: 769px){
//BOTON
.botonLink{
    font-size: 1em;
    margin-top: 2vh;
    padding: 0.6vh;
}

//RESERVA
#reservaAhora{
    right: 3vh;
    bottom: 18vh;
    height: 8vh;
}
}

/*TABLETS*/

@media screen and (min-width: 600px) and (max-width: 768px) {
    //BOTON
    .botonLink{
        font-size: 0.9em;
        margin-top: 2vh;
        padding: 0.6vh;
    }
    
    //RESERVA
    #reservaAhora{
        right: 3vh;
        bottom: 13vh;
        height: 8vh;
    }
}

/*MOBILE*/

@media screen and (min-width: 0px) and (max-width: 599px){
    //BOTON
    .botonLink{
        font-size: 0.8em;
        margin-top: 2vh;
        padding: 0.6vh;
    }

    //RESERVA
    #reservaAhora{
        right: 0vh;
        bottom: 0vh;
        height: 0vh;
    }
}