$colorTextos: #2F2A26;
$sombraImg: drop-shadow(0 0.2vh 0.3vh #2F2A26);
$sombraTexto: #2F2A26 0.1em 0.1em 0.2em;
$fuenteTitulos: 'Montserrat Alternates', sans-serif;
$fuenteTextos: 'Poppins', sans-serif;
$mayuscula: uppercase;
$redondeado: 0.3em;


